* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    --primary-color: #004a4e;
    --secondary-color: #f2a91f;
    --tertiary-color: #cc627b;
    --quaternary-color: #958e7f;
}
html{
    background-image: linear-gradient(to top, rgb(47, 111, 117) 0%, var(--primary-color) 30%);
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--secondary-color)
}
.subtitle {
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    font-size: 1.8em;
    margin-top: 15px;
    border-bottom: 1px solid var(--secondary-color);
}
.title {
    font-size: 3em;
    margin-top: 20px;
}

.checker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: min(100vw, 450px);
    background-color: var(--quaternary-color);
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
    font-size: 1.3em;
    box-shadow: #958e7f66 -5px 5px, #958e7f4d -10px 10px, #958e7f33 -15px 15px, #958e7f1a -20px 20px, #958e7f0d -25px 25px;
}
.checker label {
    margin-bottom: 15px;
}
.palindrome-input {
    height: 30px;
    width: 250px;
    font-size: 1.2rem;
    border: none;
    background-color: var(--quaternary-color);
    border-bottom: 4px solid var(--tertiary-color); 
    margin: 10px 0;
}
button {
    position: relative;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    box-shadow: #791237 0px 4px 0px 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: 80px;
    height: 42px;
    color: #fff;
    border: none;
    font-size: 19px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

button::before {
    content: "";
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

button:hover::before {
    width: 100%;
}



.definition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: min(100vw, 650px);
    background-color: var(--quaternary-color);;
    border-radius: 20px;
    margin-top: 75px;
    padding: 20px;
    font-size: 1.3em;
}
.definition p{
    margin-top: 15px;
}
